<div class="Grid__Box-f9ujw0-0 eXMIVa">

  <select id="epharm-switch" class="epharm-switch">
    <option value="public">Public</option>
    {% if role_doctor == 1 or admin == 1 %}
      {% if epharm %}
        <option selected value="e-pharm">e-Pharm</option>
      {% else %}
        <option value="e-pharm">e-Pharm</option>
      {% endif %}
    {% endif %}
    {% if admin == 1 or role_cme == 1 %}
      {% if cme %}
        <option selected value="cme">CME</option>
      {% else %}
        <option value="cme">CME</option>
      {% endif %}
    {% endif %}
    {% if admin == 1 or role_member == 1 %}
      {% if member %}
        <option selected value="member-area">Member</option>
      {% else %}
        <option value="member-area">Member</option>
      {% endif %}
    {% endif %}
  </select>
</div><!-- Add you custom twig html here -->
