<!-- Add you custom twig html here -->
<ul class="member-menu">
  <li><a href="/admin/member/content">Manage Member Content</a></li>
  <li><a href="/node/add/bulletin?destination=/admin/member/content">Add Bulletin</a></li>
  <li><a href="/node/add/ads?destination=/admin/member/content">Add Classified ads</a></li>
  <li><a href="/node/add/committee_news?destination=/admin/member/content">Add Committee News</a></li>
  <li><a href="/node/add/member_article?destination=/admin/member/content">Add Council News</a></li>
  <li><a href="/node/add/know?destination=/admin/member/content">Add Drug Databases</a></li>
  <li><a href="/node/add/event_calendar?destination=/admin/member/content">Add Event Calendar</a></li>
  <li><a href="/node/add/faq?destination=/admin/member/content">Add FAQ</a></li>
  <li><a href="/node/add/forum?destination=/admin/member/content">Add Forum</a></li>
  <li><a href="/node/add/image_gallery?destination=/admin/member/content">Add Image Gallery</a></li>
</ul>
