{#
/**
 * @file public_links.html.twig
 * Default theme implementation to present Public links data.
 *
 * This template is used when viewing Public links pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_public_links()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('public_links') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
