{#
/**
 * @file banner.html.twig
 * Default theme implementation to present Banner entity data.
 *
 * This template is used when viewing Banner entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_banner()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('banner') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
