{#
/**
 * @file about.html.twig
 * Default theme implementation to present Default entity data.
 *
 * This template is used when viewing Default entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_about()
 *
 * @ingroup themeable
 */
#}


    <div class="fJCdzw">
        <div id="avandce_search" class="advance_search_detail">
            <form method="get" action="/e-pharm/drug-search/search" _lpchecked="1">
                <input type="hidden" name="form" value="4"><p> <select class="hxkgST" name="db" size="1">
                        <option  value="PubMed">PubMed</option>
                        <option value="PubMed"> GenBank DNA Sequences </option>
                        <option value="Nucleotide">Nucleotide</option>
                        <option value="Protein">Protein</option>
                        <option value="Genome">Genome</option>
                        <option value="Structure">Structure</option>
                        <option value="PMC">PMC</option>
                        <option value="Taxonomy">Taxonomy</option>
                        <option value="OMIM">OMIM</option>
                        <option value="Books">Books</option>
                    </select>
                    <input class="hxkgST" placeholder="For..." name="term" size="45" value="{{ get.term }}"> <small><br>
                        <span class="title">Number of documents to display per page: </span><select class="hxkgST" name="dispmax" size="1">
                            <option> 10 </option>
                            <option selected=""> 20 </option>
                            <option> 50 </option>
                            <option> 100 </option>
                            <option> 200 </option>
                            <option> 1000 </option>
                            <option> 2000 </option>
                            <option> 5000 </option>
                        </select> <br>
                        <span class="title">Entrez Date limit: </span><select class="hxkgST" name="relentrezdate" size="1">

                            <option>30 Days </option>
                            <option>60 Days </option>
                            <option>90 Days </option>
                            <option>180 Days </option>
                            <option>1 Year </option>
                            <option>2 Years </option>
                            <option>5 Years </option>
                            <option>10 Years </option>
                            <option selected="">No Limit </option>
                        </select> </small></p>
                <div class=" bQbVud">
                    <button type="submit" class=" hkBURO"><span class="fjQIzu">Search</span></button>
                </div>
            </form>
        </div>
    </div>

<div class="search-result">
    <iframe target="_parent" frameborder="0" allowfullscreen width="100%" height="800px" src="{{ url }}"></iframe>
</div>



