<article{{ attributes.addClass(classes) }}>
  <div class="Grid__Box-f9ujw0-0 bBnAZb">
      {#<h2 class="Title-qxmy6q-0 fxclof">{{  }}</h2>#}
    <div class="Grid__Box-f9ujw0-0 ArticleContent__Info-sc-1d950fx-0 cmcRwb">{{ cme_guidelines.Owner.name.value }} Published at {{ cme_guidelines.created.value|date("Y-m-d") }}</div>
    <div class="HTMLContent__HTMLContentWrapper-sc-16stxlc-0 jvveZx">
        {{ cme_guidelines.field_description.value|raw }}
    </div>
  </div>

</article>