<div class="huGJVP">
    <div class="slick-list1">
        <div class="slick-track1">
            <div data-index="0" tabindex="-1" aria-hidden="false"
                 style="outline: none;">
                <div>
                    <a style="background-image: url({{ drug_news.field_media.entity.field_media_image.entity.uri.value | image_style('original') }})" rel="noopener" target="_blank"  tabindex="-1" color="white"
                       class="Carousel__SlideWrap-nw3uw1-0 gABttI" style="width: 100%; display: inline-block;">
                        <div class="Carousel__SlideContent-nw3uw1-1 bMILwk"><h2
                                    class="Carousel__SlideTitle-nw3uw1-2 cHdsrC"></h2>
                            <p class="Carousel__SlideDescription-nw3uw1-3 kMAhQW"></p></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>