<!-- Add you custom twig html here -->
<div class="user-qrcode">
    <div class="user-picture">
        <div class="picture">
            <div class="image-radius">
                {% if user.user_picture is not empty %}
                    <img src="{{ user.user_picture.entity.uri.value | image_style('medium') }}"/>
                {% else %}
                    <img src="/themes/hkdu/images/no_image.png"/>
                {% endif %}
            </div>
            <p>
                NO.{% if user.field_registration_no is not empty %}{{ user.field_registration_no.value }}{% else %}N/A
                {% endif %}</p>
        </div>
        <div class="qrcode">
            {{ qrcode }}
        </div>
    </div>
</div>
