<!-- Add you custom twig html here -->
<div class="report-wrapper">
  <div class="report-header-wrapper col-sm-12">
    <div class="report-logo col-sm-2">
      <img src="/themes/hkdu/images/icon/smalltile.png"/>
    </div>
    <div class="report-header col-sm-10">
      <h1>HONG KONG DOCTORS UNION</h1>
      <p>Room 901, Hang Shing Bldg., 363-373, Nathan Road, Kowloon</p>
      <p>Email: hkdu@hkdu.org Home Page: http://www.hkdu.org Tel. no.: 23882728 Fax no.: 23855275</p>
      <h2>CME Attendance Report of Individual Members</h2>
      <h4>For the Period from 2020-02-02 to 2020-09-07</h4>

    </div>
  </div>
  <div class="report-info col-sm-12">
    <div class="user-info col-sm-6">
      <p>HKDU Membership No 4067</p>
      <p>MC Registration No M13193</p>
      <div class="member-info">
        <p>To: Dr HO CHIN WAN </p>
        <p>FLAT A, 11/F PHASE 2, Kings Wing Plaza, 1 On Kwan ST., Shek Mun</p>
      </div>
      <p>From: Dr. Kong Yim Fai Albert</p>
      <p>Chairman, Committee on CME </p>
    </div>
    <div class="user-score col-sm-6">
      <p>Date 07-09-2020</p>
      <table border="1">
        <thead>
        <th></th><th>You Gain</th><th>Actual</th>
        </thead>
        <tbody>
        <tr><td>Lecture</td><td>51</td><td>51</td></tr>
        <tr>
          <td>Self Study: <br>Max 20 Points</td><td>9.5</td><td>9.5</td>
        </tr>
        <tr><td>Total:</td><td>60.5</td><td>60.5</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="infor col-sm-12"></div>
  <table>

  </table>
  <div class="total">

  </div>
  <div class="noted">

  </div>

</div>