{#
/**
 * @file notify.html.twig
 * Default theme implementation to present Notify data.
 *
 * This template is used when viewing Notify pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_notify()
 *
 * @ingroup themeable
 */
#}
<div class="notify-wrapper">
  {% if notifies %}
    <table class="notification-list">
      <thead>
      <th>#ID</th><th>Notification</th><th>Review</th>
      </thead>
      <tbody>
      {% for notify in notifies %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ notify.name.value }}</td>
          <td><a class="update-notification" data-id="{{ notify.id.value }}" href="{{ notify.field_link.value }}">Review</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No notification</p>
  {% endif %}
</div>
