{#
/**
 * @file quiz.html.twig
 * Default theme implementation to present Quiz data.
 *
 * This template is used when viewing Quiz pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_quiz()
 *
 * @ingroup themeable
 */
#}
<div class="quiz-message">
  {{ message|raw }}
</div>
