{#
/**
 * @file download.html.twig
 * Default theme implementation to present Download data.
 *
 * This template is used when viewing Download pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_download()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('download') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
